{
  "presets": ["@babel/react", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
